APP_NAME = Gogs: Go Git Service
RUN_USER = git
RUN_MODE = prod

[repository]
ROOT = 
SCRIPT_TYPE = bash
ANSI_CHARSET = 
FORCE_PRIVATE = false
MAX_CREATION_LIMIT = -1
PULL_REQUEST_QUEUE_LENGTH = 10000

[ui]
EXPLORE_PAGING_NUM = 20
ISSUE_PAGING_NUM = 10
FEED_MAX_COMMIT_NUM = 5
THEME_COLOR_META_TAG = `#ff5343`

[ui.admin]
USER_PAGING_NUM = 50
REPO_PAGING_NUM = 50
NOTICE_PAGING_NUM = 25
ORG_PAGING_NUM = 50

[markdown]
ENABLE_HARD_LINE_BREAK = false
CUSTOM_URL_SCHEMES =

[server]
PROTOCOL = http
DOMAIN = localhost
ROOT_URL = %(PROTOCOL)s://%(DOMAIN)s:%(HTTP_PORT)s/
HTTP_ADDR =
HTTP_PORT = 3000
LOCAL_ROOT_URL = http://localhost:%(HTTP_PORT)s/
DISABLE_SSH = false
START_SSH_SERVER = false
SSH_PORT = 22
SSH_ROOT_PATH = 
OFFLINE_MODE = false
DISABLE_ROUTER_LOG = false
CERT_FILE = custom/https/cert.pem
KEY_FILE = custom/https/key.pem
STATIC_ROOT_PATH =
ENABLE_GZIP = false
LANDING_PAGE = home

[database]
DB_TYPE = sqlite3
HOST = 127.0.0.1:3306
NAME = gogs
USER = root
PASSWD =
SSL_MODE = disable
PATH = data/gogs.db

[admin]

[security]
INSTALL_LOCK = true
SECRET_KEY = !#@FDEWREWR&*(
LOGIN_REMEMBER_DAYS = 7
COOKIE_USERNAME = gogs_awesome
COOKIE_REMEMBER_NAME = gogs_incredible
REVERSE_PROXY_AUTHENTICATION_USER = X-WEBAUTH-USER

[service]
ACTIVE_CODE_LIVE_MINUTES = 180
RESET_PASSWD_CODE_LIVE_MINUTES = 180
REGISTER_EMAIL_CONFIRM = false
DISABLE_REGISTRATION = false
REQUIRE_SIGNIN_VIEW = false
ENABLE_NOTIFY_MAIL = false
ENABLE_REVERSE_PROXY_AUTHENTICATION = false
ENABLE_REVERSE_PROXY_AUTO_REGISTRATION = false
ENABLE_CAPTCHA = true

[webhook]
QUEUE_LENGTH = 1000
DELIVER_TIMEOUT = 5
SKIP_TLS_VERIFY = false
PAGING_NUM = 10

[mailer]
ENABLED = false
SEND_BUFFER_LEN = 100
SUBJECT = %(APP_NAME)s
HOST = 
DISABLE_HELO = 
HELO_HOSTNAME = 
SKIP_VERIFY = 
USE_CERTIFICATE = false
CERT_FILE = custom/mailer/cert.pem
KEY_FILE = custom/mailer/key.pem
FROM =
USER =
PASSWD =

[cache]
ADAPTER = memory
INTERVAL = 60
HOST =

[session]
PROVIDER = memory
PROVIDER_CONFIG = data/sessions
COOKIE_NAME = i_like_gogits
COOKIE_SECURE = false
ENABLE_SET_COOKIE = true
GC_INTERVAL_TIME = 86400
SESSION_LIFE_TIME = 86400

[picture]
SERVICE = server
AVATAR_UPLOAD_PATH = data/avatars
GRAVATAR_SOURCE = gravatar
DISABLE_GRAVATAR = false

[attachment]
ENABLE = true
PATH = data/attachments
ALLOWED_TYPES = image/jpeg|image/png
MAX_SIZE = 4
MAX_FILES = 5

[time]
FORMAT =

[log]
ROOT_PATH =
MODE = console
BUFFER_LEN = 10000
LEVEL = Trace

[log.console]
LEVEL =

[log.file]
LEVEL =
LOG_ROTATE = true
MAX_LINES = 1000000
MAX_SIZE_SHIFT = 28
DAILY_ROTATE = true
MAX_DAYS = 7

[log.conn]
LEVEL =
RECONNECT_ON_MSG = false
RECONNECT = false
PROTOCOL = tcp
ADDR =

[log.smtp]
LEVEL =
SUBJECT = Diagnostic message from server
HOST =
USER =
PASSWD =
RECEIVERS =

[log.database]
LEVEL =
DRIVER =
CONN =

[cron]
ENABLED = true
RUN_AT_START = false

[cron.update_mirrors]
SCHEDULE = @every 1h

[cron.repo_health_check]
SCHEDULE = @every 24h
TIMEOUT = 60s
ARGS = 

[cron.check_repo_stats]
RUN_AT_START = true
SCHEDULE = @every 24h

[git]
MAX_GIT_DIFF_LINES = 10000
GC_ARGS = 

[i18n]
LANGS = en-US,zh-CN,zh-HK,de-DE,fr-FR,nl-NL,lv-LV,ru-RU,ja-JP,es-ES,pt-BR,pl-PL,bg-BG,it-IT
NAMES = English,简体中文,繁體中文,Deutsch,Français,Nederlands,Latviešu,Русский,日本語,Español,Português do Brasil,Polski,български,Italiano

[i18n.datelang]
en-US = en
zh-CN = zh
zh-HK = zh-TW
de-DE = de
fr-FR = fr
nl-NL = nl
lv-LV = lv
ru-RU = ru
ja-JP = ja
es-ES = es
pt-BR = pt-BR
pl-PL = pl
bg-BG = bg
it-IT = it

[highlight.mapping]

[other]
SHOW_FOOTER_BRANDING = false
SHOW_FOOTER_VERSION = true
